/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    width: 90%;
    max-width: 1200px; /* Max width for larger screens */
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Optional: Add rounded corners */
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.download-link {
    color: #007bff;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%; /* Reduce container width for smaller screens */
        padding: 10px;
    }
    
    table {
        font-size: 14px; /* Smaller font size for better readability */
    }
    
    th, td {
        padding: 8px; /* Less padding for smaller screens */

    }
}
  /* Tablets */
   
@media only screen and (max-width: 480px) {
    body{
        background-color: white;
    };
    .container{
        box-shadow: none !important;
    }
    table {
        font-size: 12px; /* Further reduce font size */
    }
    
    th, td {
        padding: 6px; /* Even less padding for very small screens */
    }

}
